
.gx.popup-container {

}

.gx.popup-container .popup-mask {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: var(--color-mask);
}

.gx.popup-container .popup-bottom {
  position: fixed;
  left: 0;
  bottom: -100%;
  width: 100%;
  z-index: 1000;
  background: var(--color-white);
  padding-bottom: 20px;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.gx.popup-container .popup-title {
  height: 60px;
  line-height: 60px;
  text-align: center;
  border-bottom: 1px solid var(--color-divider);
}

.gx.popup-container .popup-title .value {
  font-size: 20px;
  font-weight: bold;
}

.gx.popup-container .popup-title .unit {
  font-size: 14px;
  font-weight: bold;
}

.gx.popup-container .popup-title button.clear {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0 15px;
  color: var(--color-error);
  background: var(--color-white);
  font-size: 16px;
  font-weight: bold;
  border: unset;
  height: 56px;
}

.gx.popup-container .popup-title button.cancel {
  position: absolute;
  left: auto;
  right: 62px;
  padding: 0 15px;
  color: var(--color-error);
  background: var(--color-white);
  font-size: 16px;
  font-weight: bold;
  border: unset;
  height: 56px;
}

.gx.popup-container .popup-title button.confirm {
  left: auto;
  position: absolute;
  right: 0;
  padding: 0 15px;
  font-size: 16px;
  color: var(--color-primary);
  background: var(--color-white);
  font-weight: bold;
  border: unset;
  height: 56px;
}

.gx.popup-container .popup-bottom.in {
  bottom: 0;
  animation-name: popup-bottom-in;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
}

.gx.popup-container .popup-bottom.out {
  bottom: -100%;
  animation-name: popup-bottom-out;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
}

@keyframes popup-bottom-in {
  from {bottom: -100%;}
  to {bottom: 0;}
}

@keyframes popup-bottom-out {
  from {bottom: 0;}
  to {bottom: -100%;}
}