/*
** ──────────────────────────────────────────────────
** ─██████████████─██████──██████─████████──████████─
** ─██░░░░░░░░░░██─██░░██──██░░██─██░░░░██──██░░░░██─
** ─██░░██████████─██░░██──██░░██─████░░██──██░░████─
** ─██░░██─────────██░░██──██░░██───██░░░░██░░░░██───
** ─██░░██─────────██░░██──██░░██───████░░░░░░████───
** ─██░░██──██████─██░░██──██░░██─────██░░░░░░██─────
** ─██░░██──██░░██─██░░██──██░░██───████░░░░░░████───
** ─██░░██──██░░██─██░░██──██░░██───██░░░░██░░░░██───
** ─██░░██████░░██─██░░██████░░██─████░░██──██░░████─
** ─██░░░░░░░░░░██─██░░░░░░░░░░██─██░░░░██──██░░░░██─
** ─██████████████─██████████████─████████──████████─
** ──────────────────────────────────────────────────
*/
.gx.calendar {
  width: 100%;
  height: 100%;
}

.gx.calendar .title {
  background: var(--color-primary);
  color: var(--color-white);
  font-size: 16px;
  padding: 4px 8px;
  font-weight: bold;
}

.gx.calendar > .weekdays {
  display: flex;
  justify-content: space-between;
}

.gx.calendar > .weekdays > .weekday {
  background: var(--color-primary-dark);
  color: var(--color-white);
  height: 48px;
  width: calc(100% / 7);
  line-height: 48px;
  text-align: center;
}

.gx.calendar .dates {
  display: flex;
  flex-wrap: wrap;
}

.gx.calendar .dates .date {
  display: flex;
  height: 48px;
  line-height: 48px;
  width: calc(100% / 7);
  text-align: center;
}

.gx.calendar .dates .date div {
  margin: auto;
}

.gx.calendar .today {
  position: sticky;
  top: 0;
  z-index: 9999;
}

.gx.calendar .today div {
  background: var(--color-primary);
  color: var(--color-white);
  width: 36px;
  height: 36px;
  line-height: 36px;
  border-radius: 9999px;
}

.gx.calendar .selected div {
  background: var(--color-info);
  color: var(--color-white);
  width: 36px;
  height: 36px;
  line-height: 36px;
  border-radius: 9999px;
}

.gx.calendar .weekly {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  /*margin-right: 10px;*/
  /*margin-left: 10px;*/
  width: 100%;
}

.gx.calendar .weekly .weekday {
  list-style: none;
  float: left;
  text-align: center;
  /*width: calc((100%) / 7);*/
  padding-top: 8px;
}

.gx.calendar .weekly .weekday.active {
  background: var(--color-primary);
  height: 68px;
  width: 40px;
  border-radius: 20px;
  padding-top: 8px;
  box-shadow: 2px 2px 8px -1px var(--color-shadow-primary);
  display: flex;
  flex-direction: column;
}

.gx.calendar .weekly .weekday span.day {
  font-size: 12px;
  letter-spacing: 0.5px;
  margin-bottom: 2px;
  display: block;
}

.gx.calendar .weekly .weekday.active span.day {
  color: var(--color-white);
  font-weight: bolder;
}

.gx.calendar .weekly .weekday.active span.date {
  background: var(--color-white);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  line-height: 30px;
  text-align: center;
  margin-left: 5px;
}

.gx.calendar .weekly .weekday span.date {
  font-size: 15px;
  font-weight: 500;
  margin-top: 5px;
}

.gx.calendar .daily {
  width: 100%;
}

.gx.calendar .daily .time-window {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.gx.calendar .daily .time-window .time {
  flex: 0 0 21%;
  max-width: 21%;
}

.gx.calendar .daily .time-window .event {
  flex: 0 0 79%;
  max-width: 79%;
  padding-left: 0;
}